<div class="row mb-2">
  <h3>
    {{ title }}
  </h3>
</div>

<div class="card">
  <div class="card-body">
    <form [formGroup]="surveyForm">

      <div class="form-row">
        <input type="hidden" name="id" formControlName="id">
        <input type="hidden" name="modifiedDate" formControlName="modifiedDate">
        <div class="form-group col-md-6">
          <label for="name">Nombre/s</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre/s del encuestado...">
        </div>
        <div class="form-group col-md-6">
          <label for="surname">Apellido/s</label>
          <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Apellido/s del encuestado...">
        </div>
        <div class="form-group col-md-6">
          <label for="age">Edad</label>
          <input type="number" min="18" class="form-control" id="age" formControlName="age" placeholder="Edad del encuestado...">
        </div>
        <div class="form-group col-md-6">
          <label for="phone">Teléfono</label>
          <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Teléfono del encuestado...">
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email del encuestado...">
        </div>
        <div class="form-group col-md-6">
          <label for="otherPhone">Otro teléfono</label>
          <input type="text" class="form-control" id="otherPhone" formControlName="otherPhone" placeholder="Otro teléfono del encuestado...">
        </div>
        <div class="form-group col-md-6">
          <label for="regularized">Vehiculos:</label>
          <app-vehicles-multiselector [name]="'vehicles'" [form]="surveyForm"></app-vehicles-multiselector>
        </div>
        <div class="form-group col-md-6">
          <label for="createdDate">Fecha de encuesta</label>
          <app-datepicker [name]="'createdDate'" [form]="surveyForm" [disabled]="readonly"></app-datepicker>
        </div>
        <div class="form-group col-md-6">
          <label for="regularized">Compró anteriormente:</label>
          <select class="form-control multiple-select" formControlName="alreadyBought">
            <option [ngValue]="false">No</option>
            <option [ngValue]="true">Sí</option>
          </select>
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col">
          <button class="btn btn-primary" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> Cancelar
          </button>
          <button class="ml-2 btn btn-primary" (click)="saveEntity()" [disabled]="readonly || surveyForm.invalid">
            <i class="fas fa-save"></i> Guardar
          </button>
        </div>
      </div>

      <!-- TODO: mejorar esto con un loop -->
      <div class="form-row">
        <div class="col-sm-12" *ngIf="surveyForm.controls.name.invalid && (surveyForm.controls.name.dirty || surveyForm.controls.name.touched)">
          <p *ngIf="surveyForm.controls.name.errors?.required">
            <ngb-alert [dismissible]="false" type="danger">El nombre es requerido.</ngb-alert>
          </p>
          <p *ngIf="surveyForm.controls.name.errors?.minlength">
            <ngb-alert [dismissible]="false" type="danger">El nombre debe tener al menos 2 caracteres.</ngb-alert>
          </p>
        </div>
      <div class="col-sm-12" *ngIf="surveyForm.controls.surname.invalid && (surveyForm.controls.surname.dirty || surveyForm.controls.surname.touched)">
          <p *ngIf="surveyForm.controls.surname.errors?.required">
            <ngb-alert [dismissible]="false" type="danger">El apellido es requerido.</ngb-alert>
          </p>
          <p *ngIf="surveyForm.controls.surname.errors?.minlength">
            <ngb-alert [dismissible]="false" type="danger">El apellido debe tener al menos 2 caracteres.</ngb-alert>
          </p>
        </div>
      <div class="col-sm-12" *ngIf="surveyForm.controls.age.invalid && (surveyForm.controls.age.dirty || surveyForm.controls.age.touched)">
          <p *ngIf="surveyForm.controls.age.errors?.required">
            <ngb-alert [dismissible]="false" type="danger">La edad es requerida.</ngb-alert>
          </p>
        </div>
      <div class="col-sm-12" *ngIf="surveyForm.controls.phone.invalid && (surveyForm.controls.phone.dirty || surveyForm.controls.phone.touched)">
          <p *ngIf="surveyForm.controls.phone.errors?.required">
            <ngb-alert [dismissible]="false" type="danger">El teléfono es requerido.</ngb-alert>
          </p>
          <p *ngIf="surveyForm.controls.phone.errors?.minlength">
            <ngb-alert [dismissible]="false" type="danger">El teléfono debe tener al menos 10 caracteres.</ngb-alert>
          </p>
        </div>
      <div class="col-sm-12" *ngIf="surveyForm.controls.email.invalid && (surveyForm.controls.email.dirty || surveyForm.controls.email.touched)">
          <p *ngIf="surveyForm.controls.email.errors?.required">
            <ngb-alert [dismissible]="false" type="danger">El email es requerido.</ngb-alert>
          </p>
          <p *ngIf="surveyForm.controls.email.errors?.minlength">
            <ngb-alert [dismissible]="false" type="danger">El email debe tener al menos 2 caracteres.</ngb-alert>
          </p>
        </div>
        <div class="col-sm-12" *ngIf="surveyForm.controls.createdDate.invalid && (surveyForm.controls.createdDate.dirty || surveyForm.controls.createdDate.touched)">
          <p *ngIf="surveyForm.controls.createdDate.errors?.required">
            <ngb-alert [dismissible]="false" type="danger">El día de la encuesta es requerida.</ngb-alert>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
