<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img id="brand-logo" src="../assets/wheel.png" alt="Atos">
    <span id="app-title">
      Concesionaria promedio
    </span>
  </a>


  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto navbar-btn-user" *ngIf="isAuthorized">

      <li class="nav-item d-flex align-items-center">
        <span id="user-name">{{ user.fullName() }}</span>
      </li>

      <li class="nav-item"><span id="user-separator"></span></li>

      <li class="nav-item">
        <img id="user-profile" src="{{ user.profilePicture() }}" alt="{{ user.email }}">
      </li>

      <li class="nav-item"><span id="user-separator"></span></li>

      <li class="nav-item">
        <a id="user-logout" class="nav-link" (click)="logout()">
          <span ><i class="fa fa-sign-out-alt"></i></span>
        </a>
      </li>


    </ul>
  </div>

</nav>
